@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
body{
    max-width: 375px;
    background: rgb(197,226,235);
    background: linear-gradient(0deg, rgba(197,226,235,1) 0%, rgba(46,138,175,1) 100%);
}    

header{
    height: 96px;
}

.imageLogo{
    
    height: 48px;
    margin-top: 24px;
    margin-left: 16px;
}

#inputText {
    width: 370px;
    text-align:center; 
    font-weight: 400;
    font-size: 30px;
    color: darkblue;
    background: none;
    border:0px;
    
    
}

#inputText::placeholder {
    text-align:center; 
    font-weight: 400;
    font-size: 30px;
    color: darkblue;
    
}

#outputText{
    box-shadow: 2px 2px 15px 1px rgb(58, 108, 122);
    border-radius: 24px;
    background: whitesmoke;
    text-align: center;
}


.encriptar, .desencriptar{
    
    width: auto;
    margin: 0;
    align-self: center;
    padding: 10px 10px;
    text-align: center;
}

.row{
    display: block;
    position: relative;
    margin: 16px 0 5px 10px;
    color: rgb(66, 66, 66);
    font-size: 12px;
    text-align: left;
    
}

i{
    float: left;
    padding-right: 5px;
    font-size: 16px;
    color: gray;
    
    
    
}

#botonEncriptar{
    
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: darkblue;
    width: 343px;
    height: 67;
    margin:5px;
    padding: 24px;
    border: 1px;
    border-radius: 24px;
    transition: 500ms;
}

#botonEncriptar:hover{
    background: rgba(0, 0, 139, 0.436);
}

#botonDesencriptar{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background: whitesmoke;
    width: 343px;
    height: 67;
    margin:5px;
    padding: 24px;
    border: 1px solid darkblue;
    border-radius: 24px;
    transition: 500ms;
}

#botonDesencriptar:hover{
    background: rgb(152, 152, 152);
}

.imagenBusqueda .imagenConLupa {
    position: relative;
    align-items: center;
    width: 350px;
}


#copiarTexto{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background: whitesmoke;
    width: 300px;
    height: 67;
    margin-top:20px;
    padding: 24px;
    border: 1px solid darkblue;
    border-radius: 24px;
    transition: 500ms;
}

.mensaje{
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    background: rgb(239, 243, 244);
    padding: 16px;
    margin: 10px;

}

.mensaje1{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    padding-bottom: 3px;
}
.mensaje2{
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    padding-top: 5px;
}


footer {
    color: #000;
    text-align: center;
    padding: 16px;
}

a{
    text-decoration: none;
    font-size: 13px;
}